<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <!-- Include all main assemblies -->
          <Include>
            <ModulePath>.*Booking\..*\.dll$</ModulePath>
          </Include>

          <!-- Exclude Domain, Tests, Core -->
          <Exclude>
            <ModulePath>.*[\\/]+Booking\.Domain\.dll$</ModulePath>
            <ModulePath>.*[\\/]+Booking\.Tests.*\.dll$</ModulePath>
            <ModulePath>.*[\\/]+Booking\.Core\.dll$</ModulePath>
          </Exclude>

          <!-- Ignore generated code -->
          <ExcludeByAttribute>
            <Attribute>GeneratedCodeAttribute</Attribute>
            <Attribute>CompilerGeneratedAttribute</Attribute>
          </ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>